# Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/
env/

# VS Code (configuración personal del editor)
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de distribución / build
build/
dist/
*.egg-info/